/* Set the fonts and padding for the entirety of the pages except the top navigation bar */
div#main {
    padding: 10px;
    font-family: sans-serif;
    width: 90%;
    margin: auto;
}

/* Collapse table borders into a single border
   and allow tables to expand and fill their entire div */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Use a moderately thick black line for tables */
table, th, td {
    border: 1px solid black;
}

/* Add padding between table elements and the table */
th, td {
    padding: 5px;
    text-align: left;
}

/* Make the first row of a table a different color */
tr:first-child {
    background-color: yellow;
}

/* Use a light yellow background in every other table row */
tr:nth-child(even) {
    background-color: lightyellow;
}

/* Text fields should fill their entire space */
input, textarea {
    width: 100%;
}
