/* Add a black background color to the top navigation */
.topnav {
    background-color: #4f0078;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: yellow;
    color: black;
}
